  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 0;
  }
  
  label {
    margin: 0px 0 0px;
  }
  
  input, select, button {
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button {
    cursor: pointer;
  }

  html, body {

    padding: 0;
    
    margin: 0;
    
  }

  .toast-message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
  }
  
  .toast-message.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  
  .toast-message.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  